mixin answerScale(ave, dev, my_ans_rate, my_ans, data, question)
  .answerScale
    .answerScale__inner
                
      .answerScale__dev(style="left:#{ave*100}%;margin-left:-#{dev*100}%;width:#{dev*2*100}%")
        .answerScale__ave

      //もっとスマートにかきたいけどな
      if my_ans != null && my_ans_rate != null && my_ans != undefined && my_ans_rate != undefined

        .answerScale__myAnswer(style="left:#{my_ans_rate * 100}%")= my_ans

      if data && data.length > 0
        each point,index in data
          - var rate = index/data.length // 高さをばらつかせる

          if typeof point == "number"
            .answerScale__data(
              style="left:#{point*100}%;margin-top:#{rate*20}px; opacity:#{5/data.length}") 
            
          else if typeof point == "object" 
            if point.questionnaire_id.match(/k/) 
              //コトダマならば
              .answerScale__data( style="left:#{point.ave*100}%;margin-top:#{rate*20}px; opacity:1;background:none") 
                a(href="/admin/kotodamas/#{point.questionnaire_id}##{question.id}")
                  img(src="/images/kotodamas/#{point.questionnaire_id.slice(1)}.png"  style="width:100%")

            else  
              //ただの文字ならば
              .answerScale__data( 
                style="left:#{point.ave*100}%;margin-top:#{rate*20}px; opacity:1;background:none")  
                | #{point.questionnaire_id}





