extends /layouts/basic_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)

block basic_content
  .questionArea
    p 支持率調査への多大なご協力、ありがとうございました。

    p あなたのデザイン感覚支持率は
      strong(style="font-size:1.5em") #{Math.floor(total_total_point *100)} %
      | です。
    
    if total_total_point  > 0.9
      p 非常に多くの方に支持され、称賛されるでしょう。
    else if total_total_point  > 0.8
      p 多くの方に支持され、共感を得るでしょう。
    else if total_total_point  > 0.6
      p 広く受け入れられており、親しみをもたれるでしょう。
    else if total_total_point  > 0.4
      p 少し独創的で周りの人に一目置かれるでしょう。
    else if total_total_point  > 0.2
      p 独創的で根強いファンがつくでしょう。
    else if total_total_point  > 0.1
      p 前衛的で一部の人が強く支持するでしょう。
    else 
      p とても前衛的でカリスマ的感覚の持ち主です。

    - var sorted_tends = sense_tends.sort((a,b)=>Math.abs(b.tend) - Math.abs(a.tend));
    - var top_5 = sorted_tends.slice(0,5);
    p あなたはほかの人と比べて、より
    p(style="text-align:center")
      each sense_tend in top_5
        strong 「#{sense_tend.tend > 0 ? sense_tend.question.right :sense_tend.question.left}」
        |、
    p  
      | と感じがちのようです。

    h3#tendsSwitch 感じがちグラフを開く
    #tendsGraph(style="")
      
      each sense_tend in sorted_tends
        //p=JSON.stringify(sense_tend)
        table(style="width:100%")
          tr
            td(style="width:10%")= sense_tend.question.left
            td(style="position:relative")
              div(style="width:100%")
                div(style="background:#eee;border-radius:15px;width:30px;height:30px;margin-left:-15px;position:absolute;left:#{sense_tend.tend * 50 + 50}%;") #{sense_tend.tend.toPrecision(3)}
              
            td(style="width:10%")= sense_tend.question.right


    - qs = Object.assign({}, results);
    - var rows_num = 5;
    - var questionnaires_rows = [];
    - while(qs.length > rows_num){
    -   questionnaires_rows.push(qs.splice(0, rows_num));
    - };
    - questionnaires_rows.push(qs);

    table
      each questionnaires_row in questionnaires_rows
        tr
          each questionnaire in questionnaires_row
            td
              img(src="/images/kotodamas/#{questionnaire.id.slice(1)}.png")
              p.aligncenter #{ Math.floor( questionnaire.total_point * 100 )} %
              
    p.aligncenter
      a.button(href="/questionnaires/start") 他の回答を作成

    p.aligncenter
      a.button(href="/") トップに戻る
