extends /layouts/basic_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)
  a(href="/admin") 管理画面トップ

block basic_content
  include /includes/answerScale
  h1 質問xコトダマ

  p
    a(href="#{path.join(url, 'merge')}") 質問ごとのデータの平均
    |,
    a(href="#{path.join(url, 'ave-of-ave')}") 質問ごとの平均の平均

  each question in questions
    h2 #{question.id}: #{question.left} <=> #{question.right}

    table.n
      tr
        th(style="width:50px") Q
        th A

      each questionnaire in questionnaires_with_ave_var
        tr
          td
            - var questionnaire_id = questionnaire.questionnaire_id;
            p #{questionnaire_id}
          td 
            - var ave_var = questionnaire.question_answers_ave_var[question.id];
            - var ave = ave_var.ave_rate;
            - var dev = ave_var.dev_rate;
            - var data = ave_var.data_rate;
            +answerScale(ave, dev, null, null, data)

