extends /layouts/stimulus_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)

block stimulus_content
  .stimulusArea
    img(src="/images/kotodamas/#{questionnaire_id.slice(1)}.png")

block question_content
  .questionArea
    include /includes/answerScale

    p ありがとうございました。
    p この図形に関してあなたのデザイン感覚支持率は
      strong(style="font-size:1.41em") #{Math.floor(total_point * 100)}%
      | です。


    each question_id in Object.keys(answer_feedbacks)
      - other_answer =  answer_feedbacks[question_id]

      - var question = questions.find(q=>q.id == question_id)
      h3 #{question.left} - #{question.right}
      p 支持率: #{Math.floor(other_answer.my_point*100)} %



      - var ave = other_answer.ave_rate;
      - var dev = other_answer.dev_rate;
      - var my_ans_rate= other_answer.my_answer_rate;
      - var my_ans= other_answer.my_answer;
      - var data = null;
      +answerScale(ave, dev, my_ans_rate, my_ans, data)

    //
      pre questionnaires
      pre= JSON.stringify(questionnaires)

      pre left_questionnaires
      pre= JSON.stringify(left_questionnaires)
    

    - var qs = [];
    - Object.assign(qs,  questionnaires);

    //コトダマ一覧
    - var rows_num = 5;
    - var questionnaires_rows = [];
    - while( qs.length > rows_num){
    -   questionnaires_rows.push(qs.splice(0, rows_num));
    - };
    - questionnaires_rows.push(qs);

    
    p(style="margin-top:3em;text-align:center") 残り #{left_questionnaires.length}/#{questionnaires.length} です。
    table
      each questionnaires_row in questionnaires_rows
        tr
          each questionnaire in questionnaires_row
            if left_questionnaires.find(qn => qn.id == questionnaire.id)
              td
                img(src="/images/kotodama.png")
            else
              td
                if(questionnaire_id == questionnaire.id) 
                  img(style="border:10px solid red" src="/images/kotodamas/#{questionnaire.id.slice(1)}.png")
                else
                  img(src="/images/kotodamas/#{questionnaire.id.slice(1)}.png")
              

    p.aligncenter
      a.button(href="/questionnaires/next") 次の設問
       
