extends /layouts/stimulus_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)

block append body_end
  script(type="text/javascript" ).
    var feedback__title = document.querySelector("#feedback__title");
    var feedback = document.querySelector("#feedback");

    feedback__title.addEventListener("click",(e)=>{
      feedback.classList.toggle("opened");
    });



block stimulus_content
  .stimulusArea(style="text-align:center;")
        
    h1 #{questionnaire_id}


block question_content
  .questionArea
    .balloon

      p #{responses[questionnaires.length - left_questionnaires.length]} 

      p 今回の回答のデザイン支持率は、
      p(style="text-align:center")
        strong(style="font-size:1.41em") #{Math.floor(total_point * 100)}%
      p だったみたい！


    include /includes/answerScale


    h3#feedback__title.feedback__title くわしい支持率を見る  

    #feedback.feedback
      each question_id in Object.keys(answer_feedbacks)
        - other_answer =  answer_feedbacks[question_id]

        - var question = questions.find(q=>q.id == question_id)
        h3 #{question.left} - #{question.right} 
          span(style="font-size:0.8em;font-weight:normal;") 支持率: #{Math.floor(other_answer.my_point*100)} %



        - var ave = other_answer.ave_rate;
        - var dev = other_answer.dev_rate;
        - var my_ans_rate= other_answer.my_answer_rate;
        - var my_ans= other_answer.my_answer;
        - var data = null;
        +answerScale(ave, dev, my_ans_rate, my_ans, data)
        hr

    

    - var qs = [];
    - Object.assign(qs,  questionnaires);

    //コトダマ一覧
    - var rows_num = 5;
    - var questionnaires_rows = [];
    - while( qs.length > rows_num){
    -   questionnaires_rows.push(qs.splice(0, rows_num));
    - };
    - questionnaires_rows.push(qs);

    
    h3 回答完了への道のり

    - var left_num =  left_questionnaires.length;
    - var all_num =  questionnaires.length;
    - var complete_rate = 1 - (left_num/all_num)
    - var complete_percent = Math.floor(complete_rate*100);
    - var view_percent = Math.floor(Math.sqrt(complete_rate)*100);

    .completeRate
      .completeRate__bar(style="width:#{view_percent}%;")

    p(style="margin-top:3em;text-align:center") 残り #{left_questionnaires.length}個 です。

    p ありがとうございます！

    h3 ゲットしたバッジ
    table
      each questionnaires_row in questionnaires_rows
        tr
          each questionnaire in questionnaires_row
            if left_questionnaires.find(qn => qn.id == questionnaire.id)
              td
                img(src="/images/kotodama.png")
            else
              td
                if(questionnaire_id == questionnaire.id)  
                  div(style="font-size:30px;text-align:center;border:10px solid red") #{questionnaire.id}

                else
                  div(style="font-size:30px;text-align:center;") #{questionnaire.id}
              

    p.aligncenter
      a.button(href="/questionnaires/next") 次の設問
       
